{% extends 'baseadmin.html' %}

{% block content %} 
  <h1>ADD A VENUE:</h1>
<div class="card" style="text-align: center; width: 400px;">
  <div class="card-body">
    <form>
  <div class="mb-3">
    <label type="text" class="form-label">Add The Name Of The Venue:</label>
    <input type="text" class="form-control" id="namevenue" >
  </div>
   <div class="mb-3">
    <label type="text" class="form-label">Add The Place Of The Venue:</label>
    <input type="text" class="form-control" id="placevenue" >
  </div>
   <div class="mb-3">
    <label type="text" class="form-label">Add The Location Of The Venue:</label>
    <input type="text" class="form-control" id="locationvenue">
  </div>
   <div class="mb-3">
    <label type="text" class="form-label">Add The Capacity Of The Venue:</label>
    <input type="text" class="form-control" id="capacityvenue">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  


</form>
  </div>
</div>




{% endblock %}